.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .highlight{
    background: #42A948; /* green */
  }
  
  .highlight:hover{
    background: #42A948 !important; /* green */
  }
  .example-full-width {
    width: 100%;
  }
  .red-color {
    color: red;
  }